body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --white: #FFF;
  --tan: #FFCDB2;
  --peach: #FFB4A2;
  --peach5: #ffb5a289;
  --pink: #E5989B;
  --darkPink: #B5838D;
  --purple: #6D6875;
  --purple8: #6d6875cc;
  --black: #000;
}

/* Colors
  FFCDB2 - tan
  FFB4A2 - peach
  E5989B - pink
  B5838D - darkPink
  6D6875 - purple
*/
/* Fonts 
  font-family: 'Grand Hotel', cursive;
*/